@model neMag.Models.Post

<h2>Edit post</h2>
@using (Html.BeginForm("Edit", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Label("Content", "Post content")
    <br />

    @Html.TextArea("Content", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Content, null, new { @class = "text-danger" })
    <br />


    for (var i = 0; i < 5; i++)
    {
        if (i < Model.Photos.Count && Model.Photos[i] != null)
        {

            <input type="hidden" name="uploadedPhotos[@i]" /> @*necessary for binding the uploadedPhotos array*@
            <a class="btn btn-sm btn-warning" href="~/Photos/Delete/@Model.Photos[i].PhotoId">Sterge poza @i</a>
        }
        else
        {
            <input type="file" name="uploadedPhotos[@i]" />
            <br />
        }
    }

    @Html.HiddenFor(m => m.Date)
    <button class="btn btn-success" type="submit">Editeaza comentariu</button>

    @Html.HiddenFor(m => m.isReview)
    @Html.HiddenFor(m => m.Rating)
    @Html.HiddenFor(m => m.ProductId)
}
</form>
