
@{
    ViewBag.Title = "Afisare profil";
}

@model neMag.Models.ApplicationUser

@using neMag.Controllers
@using Microsoft.AspNet.Identity

<h2>@ViewBag.Title</h2> <br />

<div class="panel panel-default">
    <div class="panel-body">
        <h3> Datele contului: </h3> <hr />
        <strong> Nume: </strong> @Model.LastName <br />
        <strong> Prenume: </strong> @Model.FirstName <br />
        <strong> Email: </strong> @Model.Email

        @if(User.Identity.IsAuthenticated == true && (User.IsInRole("Admin") || (string)Model.Id == User.Identity.GetUserId()))
        {
            <hr />
            <a class="btn btn-primary" href="/Users/Edit/@Model.Id"> Editeaza datele </a>
        }
    </div>
</div>

@{
    if (User.Identity.IsAuthenticated == true && (User.IsInRole("Admin") || (string)Model.Id == User.Identity.GetUserId()))
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <h3> Comenzile mele </h3>
            </div>
        </div>
    }
}

<div class="panel panel-default">
    <div class="panel-body">
        <h3> Postarile mele </h3>
    </div>
</div>


@{
    if (User.Identity.IsAuthenticated == true && ((User.IsInRole("Admin") && (string)Model.Id != User.Identity.GetUserId()) || (!User.IsInRole("Admin") && (string)Model.Id == User.Identity.GetUserId())))
    {
        <form method="post" action="/Users/Delete/@Model.Id">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-danger" type="submit"> Sterge profil </button>
        </form>
    }
}