@model neMag.Models.Product

@{
    ViewBag.Title = "Edit";
}


<h2>Editare Produs</h2>


@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />
    @Html.HiddenFor(m => m.ProductId)
    @Html.HiddenFor(m => m.UserId)

    @Html.Label("ProductName", "Nume Produs", new { htmlAttributes = new { @class = "form-control" } })
    @Html.EditorFor(m => m.ProductName)
    @Html.ValidationMessage("ProductName", null, new { @class = "text-danger" })
    <br />

    @Html.DropDownListFor(m => m.CategoryId,
        new SelectList(Model.Categ, "Value", "Text"), "Selectati categoria", new { @class = "form-control" })
    @Html.ValidationMessage("CategoryId", null, new { @class = "text-danger" })

    <br />
    @Html.Label("Description", "Descriere: ")
    @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
    <br />
    <br />
    for (var i = 0; i < 5; i++)
    {
        if (i < Model.Photos.Count && Model.Photos[i] != null)
        {
            <input type="hidden" name="uploadedPhotos[@i]" /> @*necessary for binding the uploadedPhotos array*@
            <a class="btn btn-sm btn-warning" href="~/Photos/Delete/@Model.Photos[i].PhotoId">Sterge poza @i</a>
        }
        else
        {
            <input type="file" name="uploadedPhotos[@i]" />
            <br />
        }
    }
    @Html.Label("Price", "Pret", new { htmlAttributes = new { @class = "form-control" } })
    @Html.EditorFor(m => m.Price)
    @Html.ValidationMessage("Price", null, new { @class = "text-danger" })

    <br />
    @Html.Label("Discount", "Discount:")
    @Html.TextBox("Discount", null, new { @class = "form-control", type = "number", min = "0", max = "100", step = "0.01" })
    <br />


    <button class="btn btn-sm btn-success" type="submit">Modifică produs</button>
}
