<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>neMag</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/Content/Slick/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Slick/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/Content/noUiSlider/jquery.nouislider.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Content/Product.css" />
</head>
<body>
    <br />
    <h1>@ViewBag.Message</h1>
    <hr />

    @if (ViewBag.search != "")
    {
        <h3>Ați căutat produse care conțin <b>@ViewBag.search</b></h3>
    }

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-3">
                    <!-- aside Widget -->
                    <div class="aside" style="padding: 20px; border-style: solid; border-color: #D10024; border-radius:10px; margin-bottom:10px; width: 100%">
                        <h3 class="aside-title">Categorii</h3>
                        <div class="checkbox-filter">
                            @foreach (neMag.Models.Category cat in ViewBag.categories)
                            {
                                <div class="input-checkbox">
                                    @if (ViewBag.cat == cat.CategoryId)
                                    {
                                        <input type="checkbox" id="@(cat.CategoryId)_categ_id" name="category" value="@cat.CategoryId" onChange="checkBox_submit(-1)" checked>
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="@(cat.CategoryId)_categ_id" name="category" value="@cat.CategoryId" onChange="checkBox_submit(@cat.CategoryId)">
                                    }
                                    <label for="@(cat.CategoryId)_categ_id">
                                        <span></span>
                                        @cat.Title
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- /aside Widget -->
                </div>
                <!-- /ASIDE -->
                <!-- STORE -->
                <div id="store" class="col-md-9">
                    <!-- store top filter -->
                    <div class="store-filter clearfix">
                        <div class="store-sort">
                            <label>
                                Sortează după:
                                <select class="input-select" onchange="select_sorting(this.selectedIndex)">
                                    <option value="0" @(ViewBag.inorder == 0 ? "selected" : "")>Popularitate</option>
                                    <option value="1" @(ViewBag.inorder == 1 ? "selected" : "")>Pret crescător</option>
                                    <option value="2" @(ViewBag.inorder == 2 ? "selected" : "")>Pret descrescător</option>
                                    <option value="3" @(ViewBag.inorder == 3 ? "selected" : "")>Rating crescător</option>
                                    <option value="4" @(ViewBag.inorder == 4 ? "selected" : "")>Rating descrescător</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <!-- /store top filter -->
                    <!-- store products -->
                    <div class="row">
                        @foreach (neMag.Models.Product product in ViewBag.products)
                        {
                            <div class="col-md-4 col-xs-6">
                                <div class="product">
                                    <div class="product-img">
                                        @if (product.Photos.Count() > 0)
                                        {
                                            <img src="@product.Photos[0].Path" alt="@product.ProductName">
                                        }
                                        else
                                        {
                                            <img src="https://i.imgur.com/S3AdcES.png" alt="defaultImage">
                                        }
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">@product.Category.Title</p>
                                        <h3 class="product-name"><a href="/Products/Show/@product.ProductId">@product.ProductName</a></h3>
                                        <h4 class="product-price">
                                            @if (product.Discount > 0)
                                            {
                                                @(@product.Price - @product.Price * @product.Discount / 100)<del class="product-old-price">@product.Price</del>
                                            }
                                            else
                                            {
                                                @product.Price
                                            }
                                            Lei
                                        </h4>
                                        <div class="product-rating">
                                            @for (var i = 1; i <= 5; i++)
                                            {
                                                if (i <= (int)product.Rating)
                                                {
                                                    <i class="fa fa-star"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-star-o empty"></i>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        @if (product.Stock != null && product.Stock > 0)
                                        {
                                            <form method="post" action="/Cart/AddToOrder/@product.ProductId" style="display: inline;">
                                                @Html.HttpMethodOverride(HttpVerbs.Put)
                                                <button class="add-to-cart-btn" type="submit"><i class="fa fa-shopping-cart"></i> Adauga in cos</button>
                                            </form>
                                        }
                                        else
                                        {
                                            <span style="color: white;">Nu e in stoc!</span>
                                        }
                                    </div>
                                </div>
                            </div>
                         }
                    </div>
                    <!-- /store products -->
                    <!-- store bottom filter -->
                    <div class="store-filter clearfix">
                        <ul class="store-pagination">
                            @for (int i = 1; i <= ViewBag.lastPage; i++)
                            {
                                    <li class = "@(i == ViewBag.currentPage ? "active" : "")"><a class="pagination-btn" href="/Products/Index?page=@i&category=@ViewBag.cat">@(i)</a></li>
                            }
                        </ul>
                    </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /STORE -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Slick/slick.min.js"></script>
    <script src="~/Scripts/nouislider.min.js"></script>
    <script src="~/Scripts/jquery.zoom.min.js"></script>
    <script src="~/Scripts/main.js"></script>

    <script>
        $("#categ_form").submit(function () {
            $(this).attr('action', $(this).attr('action') + '&' + $('#categ_id').val());
            return true;
        });

        function checkBox_submit(catId) {
            if (catId !== -1)
                window.open("/Products/Index?id=@ViewBag.inorder&page=1&search=@ViewBag.search&category=" + catId, "_self")
            else
                window.open("/Products/Index?id=@ViewBag.inorder&page=1&search=@ViewBag.search", "_self")
        }

        function select_sorting(sortId) {
            window.open("/Products/Index?id=" + sortId + "&page=1&search=@ViewBag.search&category=@(ViewBag.cat)", "_self")
        }
    </script>
</body>
</html>