@model neMag.Models.Product
@using Microsoft.AspNet.Identity;
@using neMag.Models
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>neMag</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/Content/Slick/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Slick/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/Content/noUiSlider/jquery.nouislider.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Content/Product.css" />

</head>
<body>
    <br />
    <h1>@ViewBag.Message</h1>
    <hr />

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- Product main img -->
                <div class="col-md-5 col-md-push-2">
                    <div id="product-main-img">
                        @if (Model.Photos.Count() > 0)
                        {
                            for (var i = 0; i < Model.Photos.Count; i++)
                            {
                                @:<div class="product-preview">
                                    @:    <img src="@Model.Photos[i].Path" alt="@Model.ProductName">
                                @:</div>
                            }
                        }
                        else
                        {
                            <img src="https://i.imgur.com/S3AdcES.png" alt="defaultImage">
                        }
                    </div>
                </div>
                <!-- /Product main img -->
                <!-- Product thumb imgs -->
                <div class="col-md-2  col-md-pull-5">
                    <div id="product-imgs">
                        @if (Model.Photos.Count() > 0)
                        {
                            for (var i = 0; i < Model.Photos.Count; i++)
                            {
                                @:<div class="product-preview">
                                    @:    <img src="@Model.Photos[i].Path" alt="@Model.ProductName">
                                @:</div>
                            }
                        }
                        else
                        {
                            <img src="https://i.imgur.com/S3AdcES.png" alt="defaultImage">
                        }
                    </div>
                </div>
                <!-- /Product thumb imgs -->
                <!-- Product details -->
                <div class="col-md-5">
                    <div class="product-details">
                        <h2 class="product-name">@Model.ProductName</h2>
                        <p> Vândut de: @Model.User.LastName <a class="glyphicon glyphicon-user" href="/Users/Show/@Model.UserId"></a></p>
                        
                        <div>
                            <div class="product-rating">
                                @for (var i = 1; i <= 5; i++)
                                {
                                    if (i <= (int)Model.Rating)
                                    {
                                        <i class="fa fa-star"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-star-o empty"></i>
                                    }
                                }
                            </div>
                            <a class="review-link" href="#tab2">@(((List<Post>)@ViewBag.reviews).Count) Recenzii | Adaugă o recenzie!</a>
                        </div>
                        <div>
                            <h3 class="product-price">@(@Model.Price - @Model.Price * @Model.Discount / 100)
                            @if (Model.Discount > 0)
                            {
                                <del class="product-old-price">@Model.Price</del>
                            }
                            Lei</h3>
                            <span class="product-available">In stoc</span>
                        </div>
                        <p>@Model.Description</p>

                        <div class="add-to-cart">
                            <!--
                            <div class="qty-label">
                                Qty
                                <div class="input-number">
                                    <input type="number">
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                            </div>
                            -->
                            <form method="post" action="/Cos/AddToOrder/@Model.ProductId" style="display: inline;">
                                @Html.HttpMethodOverride(HttpVerbs.Put)
                                <button class="add-to-cart-btn" type="submit"><i class="fa fa-shopping-cart"></i> Adaugă in cos</button>
                            </form>

                        </div>

                        <ul class="product-links">
                            <!-- Display the product's category and all ancestors categories -->
                            <li>Categorii:</li>
                            @{
                                var cat = Model.Category;
                                while (cat != null)
                                {
                                    <li><a href="#">@cat.Title</a></li>
                                    if (cat.ParentId > 0)
                                    {
                                        cat = cat.Parent;
                                    }
                                    else
                                    {
                                        cat = null;
                                    }
                                }
                            }
                        </ul>

                    </div>
                </div>
                <!-- /Product details -->

                @if (User.IsInRole("Admin") || (User.IsInRole("Collaborator") && User.Identity.GetUserId() == Model.UserId))
                {
                    <!-- Modify product buttons -->
                    <div class="col-md-4">
                        <br />
                        <div class="row">
                            <div class="col-sm">
                                <a class="btn btn-success pull-left" href="/Products/Edit/@Model.ProductId"><div class="glyphicon glyphicon-pencil"></div> Modifica Produs</a>
                            </div>
                            <div class="col-sm">
                                <form method="post" action="/Products/Delete/@Model.ProductId">
                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <button class="btn btn-danger pull-right" type="submit"><div class="glyphicon glyphicon-trash"></div>  Sterge Produs</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /Modify product buttons -->
                }

                <!-- Product tab -->
                <div class="col-md-12">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Descriere produs</a></li>
                            <li><a data-toggle="tab" href="#tab2" onclick="slick_refresh()">Recenzii (@(((List<Post>)@ViewBag.reviews).Count))</a></li>
                            <li><a data-toggle="tab" href="#tab3" onclick="slick_refresh()">Întrebări si răspunsuri (@(((List<Post>)@ViewBag.posts).Count))</a></li>
                        </ul>
                        <!-- /product tab nav -->
                        <!-- product tab content -->
                        <div class="tab-content">
                            <!-- tab1  -->
                            <div id="tab1" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>@Model.Description</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /tab1  -->
                            <!-- tab2  -->
                            <div id="tab2" class="tab-pane fade in">
                                <div class="row">
                                    <!-- Rating -->
                                    <div class="col-md-3">
                                        <div id="rating">
                                            <div class="rating-avg">
                                                <span>@Model.Rating</span>
                                                <div class="rating-stars">
                                                    @for (var i = 1; i <= 5; i++)
                                                    {
                                                        if (i <= (int)Model.Rating)
                                                        {
                                                            <i class="fa fa-star"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fa fa-star-o empty"></i>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <ul class="rating">
                                                @for (var stars = 5; stars >= 1; stars--)
                                                {
                                                    <li>
                                                        <div class="rating-stars">
                                                            @for (var i = 1; i <= 5; i++)
                                                            {
                                                                if (i <= stars)
                                                                {
                                                                    <i class="fa fa-star"></i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="fa fa-star-o empty"></i>
                                                                }
                                                            }

                                                            @{
                                                                double nr = (((List<Post>)ViewBag.reviews)).Count(p => p.Rating == stars);
                                                                int n = ((List<Post>)ViewBag.reviews).Count;
                                                            }

                                                        </div>
                                                        <div class="rating-progress">
                                                            <div style="width: @((@nr / @n * 100))%;"></div>
                                                        </div>
                                                        <span class="sum">@nr</span>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /Rating -->
                                    <!-- Reviews -->
                                    <div class="col-md-6">
                                        <div id="reviews">
                                            <div class="tab-content">
                                                @for (var page = 1; page <= ViewBag.pagesReviews; page++)
                                                {
                                                    <div id="reviews-pagination-@page" class="tab-pane fade in @(page == 1 ? "active" : "")">
                                                        <ul class="reviews">
                                                            @for (var i = (page - 1) * ViewBag.postsPerPage;
                                                                i < page * ViewBag.postsPerPage && i < ((List<Post>)ViewBag.reviews).Count; i++)
                                                            {
                                                                Post post = ((List<Post>)ViewBag.reviews)[i];
                                                                <li>
                                                                    <!-- Review heading-->
                                                                    <div class="review-heading">
                                                                        <h5 class="name">@post.User.LastName @post.User.FirstName<a class="glyphicon glyphicon-user" href="/Users/Show/@post.UserId"></a></h5>
                                                                        <p class="date">@post.Date</p>
                                                                        <div class="review-rating">
                                                                            @for (var stars = 1; stars <= 5; stars++)
                                                                            {
                                                                                if (stars <= post.Rating)
                                                                                {
                                                                                    <i class="fa fa-star"></i>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <i class="fa fa-star-o empty"></i>
                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                    <!-- /Review heading-->
                                                                    <!-- Review body-->
                                                                    <div class="review-body">
                                                                        <p>@post.Content</p>
                                                                        @if (User.IsInRole("Admin") || post.UserId == ViewBag.userId)
                                                                        {
                                                                            <div style="display: inline-block; float : left; margin-right: 15px">
                                                                                <a class="glyphicon glyphicon-pencil" href="@Url.Action("Edit", "Posts", new { id = post.PostId })"></a>
                                                                            </div>

                                                                            <div style="display: inline-block; float : left">
                                                                                <form method="post" action="@Url.Action("Delete", "Posts", new { id = post.PostId })">
                                                                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                                                                    <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                                                                                </form>
                                                                            </div>
                                                                        }
                                                                        @if (post.Photos.Count > 1)
                                                                        {
                                                                            <!-- Review imgs -->
                                                                            <div class="post-imgs">
                                                                                <div class="post-img">
                                                                                    @for (var idx = 0; idx < post.Photos.Count; idx++)
                                                                                    {
                                                                                        <div><img src="@post.Photos[idx].Path" alt="review photo"></div>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            <!-- /Review imgs -->
                                                                        }
                                                                        else if (post.Photos.Count == 1)
                                                                        {
                                                                            <div class="post-img-no-carousel">
                                                                                <img src="@post.Photos[0].Path" alt="review photo">
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                    <!-- /Review body-->
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                }
                                            </div>
                                            <ul class="reviews-pagination">
                                                @for (var i = 1; i <= ViewBag.pagesReviews; i++)
                                                {
                                                    <li class="@(i == 1 ? "active" : "")"><a class="pagination-btn" href="#reviews-pagination-@i" onclick="slick_refresh()" data-toggle="tab">@i</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /Reviews -->

                                    @if (User.Identity.IsAuthenticated && !User.IsInRole("RestrictedUser"))
                                    {
                                        <!-- Review Form -->
                                        <div class="col-md-3">
                                            <div id="review-form">
                                                @using (Html.BeginForm("New", "Posts", FormMethod.Post, new { enctype = "multipart/form-data", @class = "review-form" }))
                                                {
                                                    <input type="hidden" name="ProductId" value="@Model.ProductId" />
                                                    <input type="hidden" name="isReview" value="true" />
                                                    <textarea class="input" name="Content" placeholder="Recenzia ta"></textarea>
                                                    <div class="input-rating">
                                                        <span>Rating-ul tău: </span>
                                                        <div class="stars">
                                                            <input id="star5" name="Rating" value="5" type="radio"><label for="star5"></label>
                                                            <input id="star4" name="Rating" value="4" type="radio"><label for="star4"></label>
                                                            <input id="star3" name="Rating" value="3" type="radio"><label for="star3"></label>
                                                            <input id="star2" name="Rating" value="2" type="radio"><label for="star2"></label>
                                                            <input id="star1" name="Rating" value="1" type="radio"><label for="star1"></label>
                                                        </div>
                                                    </div>

                                                    for (var i = 0; i < 5; i++)
                                                    {
                                                        <input type="file" name="uploadedPhotos[@i]" />
                                                        <br />
                                                    }
                                                    <button class="primary-btn" type="submit">Trimite</button>
                                                }
                                            </div>
                                        </div>
                                        <!-- /Review Form -->
                                    }
                                    else
                                    {
                                        <p>Trebuie să fii autentificat pentru a posta o recenzie!</p>
                                    }
                                </div>
                            </div>
                            <!-- /tab2  -->
                            <!-- tab3  -->
                            <div id="tab3" class="tab-pane fade in">
                                <div class="row">
                                    <!-- Q&A -->
                                    <div class="col-md-6">
                                        <div id="reviews">
                                            <div class="tab-content">
                                                @for (var page = 1; page <= ViewBag.pagesQA; page++)
                                                {
                                                    <div id="postsQA-pagination-@page" class="tab-pane fade in @(page == 1 ? "active" : "")">
                                                        <ul class="reviews">
                                                            @for (var i = (page - 1) * ViewBag.postsPerPage;
                                                                i < page * ViewBag.postsPerPage && i < ((List<Post>)ViewBag.posts).Count; i++)
                                                            {
                                                                Post post = ((List<Post>)ViewBag.posts)[i];
                                                                <li>
                                                                    <div class="review-heading">
                                                                        <h5 class="name">@post.User.LastName @post.User.FirstName</h5>
                                                                        @if (post.User.Roles.Any(r => r.RoleId == ViewBag.collaboratorRoleId))
                                                                        {
                                                                            <p class="badge">Colaborator</p>
                                                                        }
                                                                        else if (post.User.Roles.Any(r => r.RoleId == ViewBag.adminRoleId))
                                                                        {
                                                                            <p class="badge">Administrator</p>
                                                                        }
                                                                        <p class="date">@post.Date</p>
                                                                    </div>
                                                                    <div class="review-body">
                                                                        <p>@post.Content</p>
                                                                        @if (User.IsInRole("Admin") || post.UserId == ViewBag.userId)
                                                                        {
                                                                            <div style="display: inline-block; float : left; margin-right: 15px">
                                                                                <a class="glyphicon glyphicon-pencil" href="@Url.Action("Edit", "Posts", new { id = post.PostId })"></a>
                                                                            </div>

                                                                            <div style="display: inline-block; float : left">
                                                                                <form method="post" action="@Url.Action("Delete", "Posts", new { id = post.PostId})">
                                                                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                                                                    <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                                                                                </form>
                                                                            </div>
                                                                        }
                                                                        @if (post.Photos.Count > 1)
                                                                        {
                                                                            <!-- Q&A post imgs -->
                                                                            <div class="post-imgs">
                                                                                <div class="post-img">
                                                                                    @for (var idx = 0; idx < post.Photos.Count; idx++)
                                                                                    {
                                                                                        <div><img src="@post.Photos[idx].Path" alt="review photo"></div>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            <!-- /Q&A post imgs -->
                                                                        }
                                                                        else if (post.Photos.Count == 1)
                                                                        {
                                                                            <div class="post-img-no-carousel">
                                                                                <img src="@post.Photos[0].Path" alt="review photo">
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                }
                                            </div>
                                            <ul class="reviews-pagination">
                                                @for (var i = 1; i <= ViewBag.pagesQA; i++)
                                                {
                                                    <li class="@(i == 1 ? "active" : "")"><a class ="pagination-btn" href="#postsQA-pagination-@i" onclick="slick_refresh()" data-toggle="tab">@i</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /Q&A -->

                                    @if (User.Identity.IsAuthenticated && !User.IsInRole("RestrictedUser"))
                                    {
                                        <!-- Q&A Form -->
                                        <div class="col-md-3">
                                            <div id="review-form">
                                                @using (Html.BeginForm("New", "Posts", FormMethod.Post, new { enctype = "multipart/form-data", @class = "review-form" }))
                                                {
                                                    <input type="hidden" name="ProductId" value="@Model.ProductId" />
                                                    <input type="hidden" name="isReview" value="false" />
                                                    <textarea class="input" name="Content" placeholder="Întrebarea ta"></textarea>

                                                    for (var i = 0; i < 5; i++)
                                                    {
                                                        <input type="file" name="uploadedPhotos[@i]" />
                                                        <br />
                                                    }

                                                    <button class="primary-btn" type="submit">Trimite</button>
                                                }
                                            </div>
                                        </div>
                                        <!-- /Q&A Form -->
                                    }
                                    else
                                    {
                                        <p>Trebuie să fii autentificat pentru a posta o intrebare/raspuns!</p>
                                    }
                                </div>
                            </div>
                            <!-- /tab3  -->
                        </div>
                        <!-- /product tab content  -->
                    </div>
                </div>
                <!-- /product tab -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>

    <!-- jQuery Plugins -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Slick/slick.min.js"></script>
    <script src="~/Scripts/nouislider.min.js"></script>
    <script src="~/Scripts/jquery.zoom.min.js"></script>
    <script src="~/Scripts/main.js"></script>

    <!-- Pagination buttons hover color --> 
    <style>
         .pagination-btn:hover,  .pagination-btn:focus {
            color: white;
            text-decoration: none;
            outline: none;
        }
    </style>

    <!-- Refresh all slick carousels -->
    <script>
        function slick_refresh() {
            $(".slick-next").map(function () {
                $(this).click();
            });
        }
    </script>

</body>
</html>