@using Microsoft.AspNet.Identity
    <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="font-size: 20px; color: white; font-family: fantasy;"href="/Products/Index"> <img style="height: 50px;"src="https://imgur.com/efainHz.png" alt="logo" /> neMag</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Admin") || User.IsInRole("Colaborator") || User.IsInRole("User") || User.IsInRole("RestrictedUser"))
                    {
                        <li><a href="/Cart/Index"><i class="glyphicon glyphicon-shopping-cart"></i>  Cos</a></li>
                    }
                    @if (User.IsInRole("Collaborator"))
                    {
                        <li>@Html.ActionLink("Comenzi din portofoliul meu", "OrdersFromMe", "Cart")</li>
                        <li>@Html.ActionLink("Adaugare produs", "New", "Products")</li>
                        <li>@Html.ActionLink("Produsele mele", "MyProducts/" + User.Identity.GetUserId(), "Products")</li>
                    }



                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Panoul administratorului", "AdminBoard", "Account")</li>
                    }
                    @*<li>@Html.ActionLink("Adaugare postare", "Index", "Posts")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <!--Not entirely sure how this works tbh, but what it essentially does is that
        it will go to Products/Index and add a search GET attribute at the end of the link.
        The attribute is literally named "search".-->
    <br />
    <div class="row justify-content-center">
        <form id="search_form" class="card card-sm" action="/Products/Index" method="GET">
            <div class="card-body row no-gutters align-items-center right-margin">
                <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div><!--end of col-->
                <div class="col-auto">
                    <button style="color: white !important; background-color: #D10024 !important;" class="btn pull-right glyphicon glyphicon-search" type="submit"></button>
                </div><!--end of col-->
                <div class="col">
                    <input id="search_item" class="form-control form-control-lgform-control-borderless pull-right" type="text" name="search" value="@ViewBag.search" placeholder="Scrie numele produsului...">
                </div><!--end of col-->
            </div>

        </form>
        <!--end of col-->
    </div>
    @RenderSection("Categories", required: false)
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - neMag</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
