@model neMag.Models.Category

@{
    ViewBag.Title = "Edit";
}

<h2>Editează categoria @Model.Title</h2>

<div class="panel">
    <div class="panel-body">
        @using (Html.BeginForm(actionName: "Edit", controllerName: "Categories"))
        {
            @Html.HttpMethodOverride(HttpVerbs.Put);

            <br />
            @Html.HiddenFor(c => c.CategoryId);
            @Html.Label("Title", "Numele categoriei")
            <br />
            @Html.EditorFor(c => c.Title)
            @Html.ValidationMessageFor(c => c.Title, null, new { @class = "text-danger" })


            <br />
            @Html.Label("Description", "Descrierea categoriei")
            <br />
            @Html.EditorFor(c => c.Description)
            @Html.ValidationMessageFor(c => c.Description, null, new { @class = "text-danger" })

            <br />
            @Html.Label("ParentId", "Categoria părinte")
            @Html.DropDownListFor(c => c.ParentId, new SelectList(ViewBag.categories, "Value", "Text"), "Selectați categoria", new { @class = "form-control" })
            <br />

            <button class="btn btn-sm btn-success" type="submit">Modifică</button>
        }
    </div>
</div>

