@model neMag.Models.Category

@{
    ViewBag.Title = "Edit";
}

<h2>Editeaza categoria @Model.CategoryName</h2>

<div class="panel">
    <div class="panel-body">
    @using(Html.BeginForm(actionName:"Edit", controllerName:"Categories"))
    {
        @Html.HttpMethodOverride(HttpVerbs.Put);
    
        <br />
        @Html.HiddenFor(c => c.CategoryId);
        @Html.Label("CategoryName", "Numele categoriei")
        <br />
        @Html.EditorFor(c => c.CategoryName)
        @Html.ValidationMessageFor(c => c.CategoryName, null, new { @class = "text-danger" })

        <button class="btn btn-sm btn-success" type="submit">Modifica</button>
    }
    </div>
</div>

